# OS metadata
.DS_Store
Thumbs.db

# Node
node_modules
package-lock.json
temp-*

# TypeScript
*.tsbuildinfo

# Build directories
packages/*/dist/
.parcel-cache
exe/
*.log
*.exe
.cache/

coverage
.turbo

/src/llvm/assets/

/build
