# OS metadata
.DS_Store
Thumbs.db

# Node
node_modules
package-lock.json
temp-*

# TypeScript
*.tsbuildinfo

# Build directories
./dist/
!./dist/setup_cpp.mjs
!./dist/setup_cpp.mjs.map
.parcel-cache
exe