.DS_Store
Thumbs.db
**/node_modules
**/temp-*
**/tsconfig.tsbuildinfo
.parcel-cache
**/exe/
**/log
**/exe
**/cache
**/.cache
**/coverage
**/.turbo
**/assets
**/build
**/__tests__
**/dev/cpp_vcpkg_project
**/packages/*/dist/
**/*.tgz
**/.eslintrc.json
**/jest.config.mjs
.vscode/
.github/
biome.jsonc
